<nav class="navbar navbar-toggleable-sm bg-white">
    <button class="navbar-toggler" id="special-toggle-button" data-target="#sidebar-blank-1" data-toggle="sidebar" type="button">
   &#9776;
 </button>
    <div class="navbar-collapse collapse" id="navbar2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link nav-icon" href="#"><span><i class="material-icons">notifications</i></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav-icon" href="#"><span><i class="material-icons">mail</i></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded-circle" src="assets/img/user_40_40.jpeg"><span>Username</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
