<div class="sidebar sidebar-left sidebar-visible-md-up sidebar-size-3 sidebar-title s" id="sidebar-blank-1"
     data-scrollable data-position="left" data-size="3">
    <!-- Brand -->
    <a href="#" class="sidebar-brand ">Brand</a>
    <div class="sidebar-heading">Heading</div>
    <!-- Menu -->
    <ul class="sidebar-menu sm-active-button-bg sidebar-text">
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button " href="#">Menu button</a>
        </li>

        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#"><i class="sidebar-menu-icon material-icons">dashboard</i>
                Dashboard</a>
        </li>
        <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-button" data-toggle="sidebar-collapse"><i
                    class="sidebar-menu-icon material-icons">computer</i> UI Elements</a>
            <!-- Submenu -->
            <ul class="sidebar-submenu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/buttons"> Buttons</a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/forms"> Forms</a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/tables"> Tables</a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/notifications"> Notifications</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#/modals"><i class="sidebar-menu-icon material-icons">chat_bubble_outline</i>
                Modals</a>
        </li>
        <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-button" data-toggle="sidebar-collapse"><i
                    class="sidebar-menu-icon material-icons">pie_chart</i>Reports</a>
            <!-- Submenu -->
            <ul class="sidebar-submenu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#"> Report #1</a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#"> Report #2</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-menu-item">
            <a href="#" class="sidebar-menu-button" data-toggle="sidebar-collapse"><i
                    class="sidebar-menu-icon material-icons">web_asset</i>Pages</a>
            <!-- Submenu -->
            <ul class="sidebar-submenu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/login"> Login</a>
                </li>
            </ul>
            <ul class="sidebar-submenu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/blank"> Blank</a>
                </li>
            </ul>
            <ul class="sidebar-submenu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/forgot"> Forgot</a>
                </li>
            </ul>
            <ul class="sidebar-submenu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="#/register"> Register</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- // END Menu -->
</div>

<script src="node_modules/bootstrap-layout/dist/bootstrap-layout.js"></script>