a {
  color: $blue;
}
.page-item.active .page-link {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}
.page-link {
    color: $blue;
    background-color: #fff;
    border: 1px solid #ddd;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.btn, .input-group-addon {
  .material-icons {
    font-size: 1.1rem;
    vertical-align: middle;
  }
}
.card-title, .title {
  font-family: $title-font;
}
// Buttons

.btn-primary {
  @include button-variant($primary, $primary);
}
.btn-info {
  @include button-variant($info, $info);
}
.btn-success {
  @include button-variant($success, $success);
}
.btn-warning {
  @include button-variant($warning, $warning);
}
.btn-danger {
  @include button-variant($danger, $danger);
}

// Remove all backgrounds
.btn-outline-primary {
  @include button-outline-variant($primary);
}
.btn-outline-info {
  @include button-outline-variant($info);
}
.btn-outline-success {
  @include button-outline-variant($success);
}
.btn-outline-warning {
  @include button-outline-variant($warning);
}
.btn-outline-danger {
  @include button-outline-variant($danger);
}

// Alerts
.alert-success {
  background-color: $green;
  border-color: darken($green, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.alert-info {
  background-color: $blue;
  border-color: darken($blue, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.alert-warning {
  background-color: $orange;
  border-color: darken($orange, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.alert-danger {
  background-color: $red;
  border-color: darken($red, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.cg-notify-message {
  background-color: $teal;
  color: #fff;
  a {color: #fff;}
}
