body {
  font-family: $body-font;
}
h1, h2, h3, h4, h5, h6, .title {
  font-family: $title-font;
}
a {
  color: $blue;
}
.form-inline {
  .custom-select, .btn {
    @include mobile {
      display: block;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
.table-responsive {
  @include mobile {
    .btn {
      display: block;
      width: 100%;
    }
  }
}
.page-item.active .page-link {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}
.page-link {
    color: $blue;
    background-color: #fff;
    border: 1px solid #ddd;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.btn, .input-group-addon {
  .material-icons {
    font-size: 1.1rem;
    vertical-align: middle;
  }
}
.card-title, .title {
  font-family: $title-font;
}
// Buttons

.btn-primary {
  @include button-variant($primary, $primary);
}
.btn-secondary {
  @include button-variant($secondary, $secondary);
}
.btn-info {
  @include button-variant($info, $info);
}
.btn-success {
  @include button-variant($success, $success);
}
.btn-warning {
  @include button-variant($warning, $warning);
}
.btn-danger {
  @include button-variant($danger, $danger);
}


// Remove all backgrounds
.btn-outline-primary {
  @include button-outline-variant($primary);
}
.btn-outline-secondary {
  @include button-outline-variant($secondary);
}
.btn-outline-info {
  @include button-outline-variant($info);
}
.btn-outline-success {
  @include button-outline-variant($success);
}
.btn-outline-warning {
  @include button-outline-variant($warning);
}
.btn-outline-danger {
  @include button-outline-variant($danger);
}

// Alerts
.alert-success {
  background-color: $success;
  border-color: darken($green, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.alert-info {
  background-color: $info;
  border-color: darken($info, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.alert-warning {
  background-color: $warning;
  border-color: darken($warning, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.alert-danger {
  background-color: $danger;
  border-color: darken($danger, 5%);
  color: #fff;
  .alert-link {color: #fff;}
}
.cg-notify-message {
  background-color: $teal;
  color: #fff;
  a {color: #fff;}
}
