// New colors: Override Bootstrap
// https://www.materialui.co/colors
$red:    #f44336;
$orange: #FF9800;
$yellow: #FFEB3B;
$green:  #4CAF50;
$blue:   #2196F3;
$teal:   #5bc0de;
$pink:   #E91E63;
$purple: #9C27B0;

$gray:   #D9DEE4;
$body-color: #292b2c;

$primary: $blue !default;
$success: $green !default;
$info:    $teal !default;
$warning: $orange !default;
$danger:  $red !default;


// Gradientes
// $blue-gradient: @include gradient(#62c1e9, #7ed8e9);
// $green-gradient: @include gradient(#a4d56e, #b3e76e);
// $red-gradient: @include gradient(#f36c4e, #ff804e);
// $yellow-gradient: @include gradient(#face57, #faea57);

// Widths
$desktop-width: 1200px;
$mobile-width: 767px;
$mobile-xs-width: 357px;
$nav-height: 70px;

// Fonts
$title-font: 'Montserrat', sans-serif;
$body-font: 'Lato', sans-serif;
