<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-justified">
                            <li ng-class="{ active: isSet(1) }" class="nav-item">
                                <a ng-click="setTab(1)" class="nav-link" href>Profile</a>
                            </li>
                            <li ng-class="{ active: isSet(2) }" class="nav-item">
                                <a ng-click="setTab(2)" class="nav-link" href>Account</a>
                            </li>
                            <li ng-class="{ active: isSet(3) }" class="nav-item">
                                <a ng-click="setTab(3)" class="nav-link" href>Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="isSet(1)">
                    <div class="row" style="margin-top: 2%; margin-left: 2%">
                        <div class="col-md-3">
                            <div class="form-group">
                                <p class="font-weight-bold">Public avatar</p>
                                <p class="font-weight-normal">You can change your avatar here or remove the current avatar to revert to gravatar.com</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="text-align: center">
                            <img src="//placehold.it/160" class="rounded-circle" />
                        </div>
                        <div class="col-md-3">
                            <form>
                                <div class="form-group">
                                    <label for="subject">Upload new avatar</label>
                                </div>
                                <button type="submit" class="btn btn-secondary">Remove avatar</button>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%; margin-left: 2%">
                        <div class="col-md-3">
                            <div class="form-group">
                                <p class="font-weight-bold">Main settings</p>
                                <p class="font-weight-normal">This information will appear on your profile.</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="form-group">
                                    <label for="subject">Your Name</label>
                                    <input ng-model="formsCtrl.inputs.firstName" class="form-control" type="text" name="firstName" placeholder="Your Name" required>
                                    <small ng-if="formModal.$submitted" ng-show="formModal.firstName.$error.required" class="form-text text-muted text-danger">Your name is required</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea">Your bio</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success">Update profile settings</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div ng-show="isSet(2)">
                    <div class="row" style="margin-top: 2%; margin-left: 2%">
                        <div class="col-md-3">
                            <div class="form-group">
                                <p class="font-weight-bold">Private Token</p>
                                <p class="font-weight-normal">Keep this token secret, anyone with access to them can interact with the app as if they were you.</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Private Token</label>
                                    <input ng-model="accountCtrl.account.token" ng-disabled="true" type="text" class="form-control" aria-describedby="tokenHelp">
                                    <small id="tokenHelp" class="form-text text-muted">Your private token is used to access the API without username/password authentication.</small>
                                </div>
                                <button type="submit" class="btn btn-secondary">Reset private token</button>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <p class="font-weight-bold">Two-Factor Authentication</p>
                                <p class="font-weight-normal">Increase your account's security by enabling Two-Factor Authentication (2FA).</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Status: Disabled</label>
                                </div>
                                <button type="submit" class="btn btn-success">Enable Two-Factor Authentication</button>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <p class="font-weight-bold text-danger">Remove account</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Deleting an account has the following effects:</label>
                                    <ul class="list-group">
                                        <li class="list-group-item">All user content like authored issues, snippets, comments will be removed</li>
                                        <li class="list-group-item">Personal projects will be removed and cannot be restored</li>
                                    </ul>
                                </div>
                                <button type="submit" class="btn btn-danger">Delete account</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div ng-show="isSet(3)">
                    <div class="row" style="margin-top: 2%; margin-left: 2%">
                        <div class="col-md-3">
                            <div class="form-group">
                                <p class="font-weight-bold">Password</p>
                                <p class="font-weight-normal">After a successful password update, you will be redirected to the login page where you can log in with your new password.</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Current password</label>
                                    <input ng-model="accountCtrl.account.currentPassword" type="text" class="form-control" aria-describedby="passwordHelp">
                                    <small id="passwordHelp" class="form-text text-muted">You must provide your current password in order to change it.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">New password</label>
                                    <input ng-model="accountCtrl.account.newPassword" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Current password</label>
                                    <input ng-model="accountCtrl.account.newPasswordConf" type="text" class="form-control" aria-describedby="newPasswordHelp">
                                    <small id="newPasswordHelp" class="form-text text-muted">You must provide your current password in order to change it.</small>
                                </div>
                                <button type="submit" class="btn btn-success">Save password</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
