<div class="layout-container layout-sidebar-l3-md-up">

    <!-- sidebar -->
    <div ng-include="'views/partials/sidebar.html'" ng-controller="SidebarCtrl as sidebarCtrl"></div>

    <div class="layout-content" data-scrollable>

        <!-- navbar -->
        <div ng-include="'views/partials/navbar.html'"></div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Blank
                        </div>
                        <div class="card-block">
                            <h1>Blank Page</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>