<div class="row">
    <div class="col-lg-12">
        <div class="cards-dash">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <div class="card">
                            <div class="card-heading">
                                <div class="card-box card-blue">
                                      <span><i class="material-icons" style="font-size:48px; color: white;margin-top: 24px;display: inline-block;">account_circle</i></span>
                                </div>
                                <div class="card-block" style="display: inline-block;">
                                    <h4 class="card-title">74</h4>
                                    <p class="card-text">New Users</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="card">
                            <div class="card-heading">
                                <div class="card-box card-green">
                                      <span><i class="material-icons" style="font-size:48px; color: white;margin-top: 24px;display: inline-block;">shopping_cart</i></span>
                                </div>
                                <div class="card-block" style="display: inline-block;">
                                    <h4 class="card-title">12</h4>
                                    <p class="card-text">New Orders</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--<div class="col-md-3">
                    <a href="#">
                        <div class="card">
                            <div class="card-heading card-green" style="text-align: center;">
                                <span><i class="material-icons" style="font-size:48px; color: white;margin-top: 24px">shopping_cart</i></span>
                                <span class="badge badge-default">12</span>
                            </div>
                            <div class="card-block" style="text-align: center; padding-bottom: 0;">
                                <p style="">New Orders</p>
                            </div>
                        </div>
                    </a>
                </div>-->

                <div class="col-md-3">
                    <a href="#">
                        <div class="card">
                            <div class="card-heading">
                                <div class="card-box card-orange">
                                      <span><i class="material-icons" style="font-size:48px; color: white;margin-top: 24px;display: inline-block;">refresh</i></span>
                                </div>
                                <div class="card-block" style="display: inline-block;">
                                    <h4 class="card-title">5</h4>
                                    <p class="card-text">Issues</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="#">
                        <div class="card">
                            <div class="card-heading">
                                <div class="card-box card-red">
                                      <span><i class="material-icons" style="font-size:48px; color: white;margin-top: 24px;display: inline-block;">report_problem</i></span>
                                </div>
                                <div class="card-block" style="display: inline-block;">
                                    <h4 class="card-title">5</h4>
                                    <p class="card-text">Issues</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                Graph
                            </div>
                            <div class="card-block">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                Sales Types
                            </div>
                            <div class="card-block">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="donutData" chart-labels="donutLabels"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
