<div class="login-gct">
    <div class="nav-login">
        <img class="img-login" src="assets/img/nucleus.min.png">
    </div>
    <div class="row justify-content-center position-lgn">
        <div class="col-md-4 lgn-gct">
            <div class="card card-forgot">
                <h3 class="text-center title-lgn">Reset password</h3>
                <div class="col-md-10 offset-md-1">
                    <form >
                        <div class="form-group">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
