<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Basic Validation
            </div>
            <div class="card-block">
                <form role="form" name="formModal" ng-class="{'submitted': submitted}" ng-submit="test()" novalidate>
                    <div class="form-group">
                        <label for="email-input">Email address</label>
                        <input ng-model="formsCtrl.inputs.email" type="email" name="email" class="form-control" id="email-input" aria-describedby="email-help" placeholder="Enter email" required>
                        <small class="form-text text-muted text-danger" ng-if="formModal.$submitted" ng-show="formModal.email.$error.required">Email address is required</small>
                    </div>
                    <div class="form-group">
                        <label for="subject">First Name</label>
                        <input ng-model="formsCtrl.inputs.firstName" class="form-control" type="text" name="firstName" placeholder="First Name" required>
                          <small ng-if="formModal.$submitted" ng-show="formModal.firstName.$error.required" class="form-text text-muted text-danger">First name is required</small>
                    </div>
                    <div class="form-group">
                        <label for="subject">Last Name</label>
                          <input ng-model="formsCtrl.inputs.lastName" class="form-control" type="text" name="lastName" placeholder="Last Name" required>
                          <small ng-if="formModal.$submitted" ng-show="formModal.lastName.$error.required" class="form-text text-muted text-danger">Last name is required</small>
                    </div>
                    <div class="form-group">
                        <label for="text-area">Description</label>
                        <small ng-if="formModal.$submitted" ng-show="formModal.description.$error.required" class="form-text text-muted text-danger">Description is required</small>
                        <textarea ng-model="formsCtrl.inputs.message" class="form-control" name="description" id="text-area" rows="3" required></textarea>

                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input ng-model="formsCtrl.inputs.terms" type="checkbox" class="form-check-input" name="terms" required>
                        I have read and accept the terms
                      </label>
                      <small ng-if="formModal.$submitted" ng-show="formModal.terms.$error.required" class="form-text text-muted text-danger">Your need to accept the terms</small>
                    </div>
                    <div class="form-group">
                        <button ng-click="submitted= true;" type="submit" class="btn btn-primary"><i class="material-icons">check_circle</i>  Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
