<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Form Validation
      </div>
      <div class="card-block">
        <form role="form" name="sampleForm" ng-submit="formsCtrl.submit()" novalidate>
          <div ng-show="formsCtrl.alertMessage.show" ng-class="'alert-' + (formsCtrl.alertMessage.type)" class="alert alert-dismissible fade show" role="alert">
            <button ng-click="formsCtrl.closeAlert()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <strong> {{formsCtrl.alertMessage.message}}
          </div>
          <div class="form-group">
            <label for="email-input">Email address</label>
            <input ng-model="formsCtrl.inputs.email" ng-class="{'form-control-danger': submitted && sampleForm.email.$error.required}" type="email" name="email" class="form-control" id="email-input" aria-describedby="email-help" placeholder="Enter email" required>
            <small class="form-text text-muted text-danger" ng-if="sampleForm.$submitted" ng-show="sampleForm.email.$error.required">Email address is required</small>
          </div>
          <div class="form-group">
            <label for="subject">First Name</label>
            <input ng-model="formsCtrl.inputs.firstName" ng-class="{'form-control-danger': submitted && sampleForm.firstName.$error.required}" class="form-control" type="text" name="firstName" placeholder="First Name" required>
            <small ng-if="sampleForm.$submitted" ng-show="sampleForm.firstName.$error.required" class="form-text text-muted text-danger">First name is required</small>
          </div>
          <div class="form-group">
            <label for="subject">Last Name</label>
            <input ng-model="formsCtrl.inputs.lastName" ng-class="{'form-control-danger': submitted && sampleForm.lastName.$error.required}" class="form-control" type="text" name="lastName" placeholder="Last Name" required>
            <small ng-if="sampleForm.$submitted" ng-show="sampleForm.lastName.$error.required" class="form-text text-muted text-danger">Last name is required</small>
          </div>
          <div class="form-group">
            <label for="text-area">Description</label>
            <small ng-if="sampleForm.$submitted" ng-show="sampleForm.description.$error.required" class="form-text text-muted text-danger">Description is required</small>
            <textarea ng-model="formsCtrl.inputs.message" ng-class="{'form-control-danger': submitted && sampleForm.description.$error.required}" class="form-control" name="description" id="text-area" rows="3" required></textarea>
          </div>
          <div class="form-check">
            <label class="form-check-label has-danger">
              <input ng-model="formsCtrl.inputs.terms" ng-class="{'form-control-danger': submitted && sampleForm.terms.$error.required}" type="checkbox" class="form-check-input" name="terms" required>
                I have read and accept the terms
              </label>
            <small ng-if="sampleForm.$submitted" ng-show="sampleForm.terms.$error.required" class="form-text text-muted text-danger">Your need to accept the terms</small>
          </div>
          <div class="form-group">
            <button ng-click="submitted= true;" type="submit" class="btn btn-primary"> Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
