<div class="card login-card">
    <div class="card-block">
        <div class="card-title">
            <h3>Login</h3>
            <hr>
        </div>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input type="email" class="form-control form-control-lg" id="" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control form-control-lg" id="" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> Remember me
                </label>
                </div>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-primary btn-block btn-lg">Log in</a>
            </div>
        </form>
        <div class="card-footer">
            <div class="card-text">Don't have an account? <a href="#">Signup</a></div>
        </div>
    </div>
</div>
</div>
