<div class="card" style="width: 40%;">
    <div class="card-block">
        <div class="card-title" style="height: 12%; text-align: center">
            <h1>Login</h1>
            <hr>
        </div>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon" style="width: 48px;background: transparent"><i class="fa fa-user" aria-hidden="true" style="font-size: 24px"></i></div>
                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style=" background-color:white;">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon input-lg" style="width: 48px;background: transparent"><i class="fa fa-lock" aria-hidden="true" style="font-size: 24px"></i></div>
                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" style=" background-color:white;">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> Remember me
                </label>
                </div>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-primary btn-block btn-lg">Log in</a>
            </div>
        </form>
        <div class="card-footer" style="background: white;text-align: center">
            <div class="card-text">Don't have an account? <a href="#">Signup</a></div>
        </div>
    </div>
</div>
</div>
