<div class="login-gct">
  <div class="nav-login">
    <img class="img-login" src="assets/img/nucleus.min.png">
  </div>
  <div class="row justify-content-center position-lgn">
    <div class="col-md-4 lgn-gct">
      <div class="card card-login">
        <h3 class="text-center title-lgn">Log in</h3>
        <div class="col-md-10 offset-md-1">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Email</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Password</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">LOGIN</button>
            <br>

           <div class="row">
             <div class="col">
               <a href="#">Register</a>
             </div>

             <div class="col text-right">
               <a href="#">Forgot your password?</a>
             </div>
           </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
