<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Angular Data Tables
            </div>
            <div class="card-block">
                <div class="row" style="margin-bottom: 1%">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="input-group mb-4 mr-sm-4 mb-sm-0">
                                <div class="input-group-addon"><i class="material-icons">search</i></div>
                                <input ng-model="key" ng-change="updateList()" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search ...">
                            </div>
                            <select class="custom-select mb-sm-0 mr-sm-2 input-md" id="inlineFormCustomSelect">
                              <option selected>Filter</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <button type="button" class="btn btn-success"> Add user</button>
                        </form>
                    </div>
                </div>
                <table ng-show="filteredList.length" class="table table-striped table-responsive" at-table at-paginated at-list="filteredList" at-config="config">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td at-implicit at-sortable at-attribute="index" width="150" at-initial-sorting="asc"></td>
                            <td at-implicit at-sortable at-attribute="name" width="250"></td>
                            <td at-implicit at-sortable at-attribute="email"></td>
                            <td at-title="Ação">
                                <button class="btn btn-primary btn-smn"><i class="material-icons">search</i></button>
                                <button class="btn btn-danger btn-smn"><i class="material-icons">delete_forever</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-inline">
                            <label>Mostrar </label>
                            <select ng-init="config.itemsPerPage = '5'" ng-model="config.itemsPerPage" class="form-control">
                              <option value="3">3</option>
                              <option value="5">5</option>
                              <option value="9">9</option>
                            </select>
                            <label>entradas</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <at-pagination at-list="filteredList" at-config="config" style="float: right"></at-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
