<div class="container-fluid">
  <div id="navbarContainer" class="layout-sidebar-l3-md-up">

    <div class="menu-sidebar"></div>

    <div class="layout-content card-layout-style" data-scrollable>
      <div ng-include="'app/views/partials/navbar.html'" ng-controller="NavbarCtrl as navbarCtrl"></div>
      <div id="content" class="container-fluid side-toogle">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Profile
                </div>
                <div class="card-block">
                    <h1>Profile Page</h1>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
