<div class="container-fluid pages">
  <div class="nav-login">
    <img class="img-login" src="app/assets/img/logos/icon.png">
  </div>
  <div class="container-fluid">
    <div class="col col-sm-6 col-md-4 vertically-align">
      <div ng-show="resetCtrl.resetSuccess" class="alert alert-success text-center" role="alert">
        <span class="alert-close-btn" ng-click="resetCtrl.close(0)">&times;</span>
			  <span>Your password has been successfully reset.</span>
      </div>
      <div ng-show="resetCtrl.resetDanger" class="alert alert-danger text-center" role="alert">
        <span class="alert-close-btn" ng-click="resetCtrl.close(1)">&times;</span>
			  <span>Error trying to reset your password.</span>
      </div>
      <div class="cards">
        <h3 class="text-center card-title">Reset password</h3>
        <form role="form" name="ResetForm" ng-submit="resetCtrl.submit()" novalidate>
          <div class="form-group">
            <label class="card-label" for="formGroupExampleInput">Password</label>
            <input type="{{resetCtrl.hidepasswordA ? 'password' : 'text'}}" name="password" ng-model="resetCtrl.user.password" class="form-control" placeholder="Create a password" ng-class="{'has-error': ResetForm.password.$invalid && ResetForm.password.$dirty}" zxcvbn="resetCtrl.passwordStrength" required>
            <i ng-click="resetCtrl.toggle('hideA')" ng-show="resetCtrl.hideA" class="fa fa-eye-slash fa-position" aria-hidden="true"></i>
            <i ng-click="resetCtrl.toggle('showA')" ng-show="resetCtrl.showA" class="fa fa-eye fa-position" aria-hidden="true"></i>
            <div class="error-container" ng-show="ResetForm.password.$dirty && ResetForm.password.$invalid">
              <small ng-show="ResetForm.password.$error.required" class="form-text text-muted text-danger">An password is required.</small>
            </div>
            <div strength-password strength="resetCtrl.passwordStrength"></div>
          </div>
          <div class="form-group">
            <label class="card-label" for="formGroupExampleInput">Repeat Password</label>
            <input type="{{resetCtrl.hidepasswordB ? 'password' : 'text'}}" name="confirmPassword" ng-model="resetCtrl.user.confirmPassword" class="form-control" placeholder="Repeat a created password" ng-class="{'has-error': ResetForm.confirmPassword.$invalid && ResetForm.confirmPassword.$dirty}" match="resetCtrl.user.password" required>
            <i ng-click="resetCtrl.toggle('hideB')" ng-show="resetCtrl.hideB" class="fa fa-eye-slash fa-position" aria-hidden="true"></i>
            <i ng-click="resetCtrl.toggle('showB')" ng-show="resetCtrl.showB" class="fa fa-eye fa-position" aria-hidden="true"></i>
            <div class="error-container" ng-show="ResetForm.confirmPassword.$dirty && ResetForm.confirmPassword.$invalid">
              <small ng-show="ResetForm.confirmPassword.$error.required" class="form-text text-muted text-danger">Repeat password is required.</small>
              <small ng-show="ResetForm.confirmPassword.$error.match" class="form-text text-muted text-danger">Fields do not match.</small>
            </div>
          </div>
          <button class="mybutton btn-primary btn-lg btn-block" ng-disabled="ResetForm.$invalid" type="submit" name="Reset">RESET</button>
          <br>
          <div class="row align-items-center">
             <div class="col">
               <a href="#/login">Login</a>
             </div>
             <div class="col text-right">
               <a href="#/register">Register</a>
             </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
