
body{
  background-color: #fafafa;
}

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggleable-sm .navbar-toggler {
    display: block !important;
}

.nav-icon{
  padding: 1.0em 1em !important;
}

.cards-dash {
    margin-top: 2%;
    margin-bottom: 2%;
}

.sidebar{
  background-color: #2c3e50;
  color: white;
}

.layout-content{
  padding: 0 !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
