.navbar{

}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.navbar-nav > li:hover{

}

.navbar-toggleable-md .navbar-toggler {
  display: block !important;
}

.cards-dash{
  margin-top: 2%;
  margin-bottom: 2%;
}

.navbar-side {
    height: 100%;
    width: 16%;
    margin-left: 16%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
    background-color: #34495e;
    overflow-y: scroll;
    z-index: 1000;
}

.navbar-side-item {
    padding: 1.5rem 0;
    margin: 0;
    height: 5rem;
}

.side-link {
    padding-left: 2rem;
}

.navbar-side {
    // other code omitted
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.navbar-reveal{
    margin-left: 16%;
   -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.view-wrapper-reveal{
  margin-left: 16%;
 -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.reveal {
    margin-left: -16%;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(-0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  opacity: 0.6;
  z-index: 990;
}

.navbar-side {
	// other code omitted
  @include media-breakpoint-up(xs) { width: 85%; } // Small
  @include media-breakpoint-up(sm) { width: 50%; } // Medium
  @include media-breakpoint-up(md) { width: 25%; } // Large
}


#side-picture{
  text-align: center;
}

#side-user{
  text-align: center;
  margin-top: 18%;
  color: white;
}
