<div class="container-fluid">
  <div id="navbarContainer" class="layout-sidebar-l3-md-up">

    <div class="menu-sidebar"></div>

    <div class="layout-content card-layout-style" data-scrollable>
      <div ng-include="'app/views/partials/navbar.html'" ng-controller="NavbarCtrl as navbarCtrl"></div>
      <div id="content" class="container-fluid side-toogle">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Angular Data Tables
              </div>
              <div class="card-block ">
                <div class="row">
                  <div class="col-md-12">
                    <form class="form-inline">
                      <div class="input-group mb-4 mr-sm-4 mb-sm-0">
                        <div class="input-group-addon"><i class="material-icons">search</i></div>
                        <input ng-model="tablesCtrl.key" ng-change="tablesCtrl.updateList()" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search ...">
                      </div>
                      <select class="custom-select mb-sm-0 mr-sm-2 input-md" id="inlineFormCustomSelect">
                        <option selected>Filter</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <button type="button" class="btn btn-success"> Add user</button>
                    </form>
                  </div>
                </div>
                <table class="table table-striped table-responsive " at-table at-paginated at-list="tablesCtrl.filteredList" at-config="tablesCtrl.config">
                  <thead></thead>
                  <tbody class="col-md-12">
                  <tr>
                    <td class="align-middle" at-implicit at-sortable at-attribute="index" width="150" at-initial-sorting="asc"></td>
                    <td class="align-middle" at-implicit at-sortable at-attribute="name" width="250"></td>
                    <td class="align-middle" at-implicit at-sortable at-attribute="email"></td>
                    <td class="align-middle" at-title="Ação">
                      <button class="btn btn-primary btn-smn"><i class="material-icons">search</i></button>
                      <button class="btn btn-danger btn-smn"><i class="material-icons">delete_forever</i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row controler-table">
                  <div class="col-md-6">
                    <div class="form-group form-inline">
                      <label>Show </label>
                      <select class="pagination-table custom-select" ng-init="tablesCtrl.config.itemsPerPage = '5'" ng-model="tablesCtrl.config.itemsPerPage" class="form-control">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="9">9</option>
                      </select>
                      <label>items</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <at-pagination at-list="tablesCtrl.filteredList" at-config="tablesCtrl.config" class="pag-table"></at-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
