/*$primary-color: #9c27b0;
$secondary-color: #501f58;*/

$red:    #f44336;
$orange: #FFC107;
$yellow: #FFEB3B;
$yellowgreen: #9ACD32;
$green:  #4CAF50;
$blue:   #4051b5;
$teal:   #2196f3;
$pink:   #E91E63;
$purple: #9C27B0;
$gray:   #D9DEE4;
$amber:  #ff9800;
$white: #fff;

$body-color: #292b2c;
$sidebar-color: #2c3e50;
$meter-color: #DDD;

$primary-color: #6a7dea !default;
$secondary-color: #4051b5 !default;
$secondary-color-hover: #354497 !default;
$success: $green !default;
$info:    $teal !default;
$warning: $orange !default;
$danger:  $red !default;
