.pages {
  min-height: 100%;
  background-color: $secondary-color;
}

/* Congrulations Register */
.text-congrulations {
  font-size: 20px;
  text-align: center;
  color: $secondary-color;
}

.text-bold {
  font-weight: 700;
}

.img-congrulations {
  width: 115px;
  height: 115px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
