<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">

        *,*:before,*:after {
            -webkit-box-sizing: inherit;
            box-sizing: inherit
        }

        img {
            max-width: 100%;
        }
        body {
            -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em;
        }
        body {
            background-color: #f6f6f6;
        }
        .content {
            max-width:100%;width:60%; background-color: #48294f;padding: 20px 20px 10px;display: block; margin: 40px auto;
        }
        .col-1 {
            width: 50%; display: inline-block;
        }
        .col-2 {
            width: 48%;display: inline-block;text-align: right;
        }
        .btn {
            color: #fff;
            background-color: #52CFF3;
            border-color: #52CFF3;
            padding: .5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: 0;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-decoration: none;
            transition: all .15s ease-in-out;

        }
        @media only screen and (max-width: 640px) {
            body {
                padding: 0 !important;
            }
            h1 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h2 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h3 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h4 {
                font-weight: 800 !important; margin: 20px 0 5px !important;
            }
            h1 {
                font-size: 22px !important;
            }
            h2 {
                font-size: 18px !important;
            }
            h3 {
                font-size: 16px !important;
            }
            .content {
                max-width:100%;width:80%; padding: 10px 10px 10px;display: block; margin: 40px auto;
            }

            .col-1 {
                width: 100%; display: inline-block; text-align: center;
            }
            .col-2 {
                width: 100%;display: inline-block; text-align: center;
            }
        }
    </style>
</head>
<body style="-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;line-height: 1.6em;background-color: #f6f6f6;width: 100% !important;">

<div style="display: inline-block;;background: url('http://na-budegav2.herokuapp.com/assets/img/fundo-opacity.png')no-repeat center/cover; width: 100%; height: 100%;">

    <div style="max-width:100%;width:600px; background-color: #ffffff;padding: 20px 20px 10px;display: block; margin: 40px auto;">
        <div style="text-align: center;border-bottom: 1px solid #D9D9D9">
            <img src="http://na-budegav2.herokuapp.com/assets/img/logos/nabudega_logo.png" style="max-width: 100%;"/>
        </div>

        <div style="margin: 10px 0; padding: 10px 0;">
            <h1 style="font-weight: 700;color: #fba81a;margin-bottom: 20px;font-family: 'Roboto', sans-serif;">{{username}},</h1>

            <p style="font-family: 'Roboto', sans-serif;font-size: 1em;color: #353f49;margin-top: .5em;letter-spacing: 1px;">
              {{message}}
            </p>
            <br/>

            <div style="display: block; text-align: center">
                <a href="{{link}}" class="btn" tabindex="0">Ativar minha conta</a>
            </div>
        </div>

        <div style="border-top: 1px solid #D9D9D9;padding-top: 10px">
            <div class="col-1" style="">
                <p style="font-family: 'Roboto', sans-serif;font-size: 0.8rem;color: #353f49;margin-top: .5em;font-weight: bold;letter-spacing: 1px;">Todos os direitos reservados @ 2017</p>
            </div>
            <div class="col-2" style="">
                <ul style="padding: 0;list-style: none;">
                    <li style="display: inline-block;margin-left: 8px;"><a href="#"><img src="http://radiosolucoes.com.br/wp-content/uploads/2017/10/nabudega-face.png" style="width: 30px; height: auto"/> </a></li>
                    <li style="display: inline-block;margin-left: 8px;"><a href="#"><img src="http://radiosolucoes.com.br/wp-content/uploads/2017/10/nabudega-tiwtter.png" style="width: 30px; height: auto"/> </a></li>
                    <li style="display: inline-block;margin-left: 8px;"><a href="#"><img src="http://radiosolucoes.com.br/wp-content/uploads/2017/10/nabudega-insta.png" style="width: 30px; height: auto"/> </a></li>
                    <li style="display: inline-block;margin-left: 8px;"><a href="#"><img src="http://radiosolucoes.com.br/wp-content/uploads/2017/10/nabudega-link.png" style="width: 30px; height: auto"/> </a></li>
                </ul>
            </div>

        </div>
    </div>

</div>

</body>
